.textWhite{
    color:white;
}
.colorNav{
    background-color: #FFD700;
}
.btnColor{
    background-color: #FFFF00;
}
.fundo{
    background-image: url(../img/hand-drawn-infographic-element-pack/3050979.jpg);
    background-size: contain;
    background-repeat: repeat;
}
.transparencia{
    background-color: rgba(0, 0, 0, 0.459);
}